In [2]:
from pyspark.sql import Row

In [3]:
medallistas = sc.textFile('medallistas.txt').map(lambda x: x.split(',')).map(lambda x: Row(nombre=x[0],medallas=x[1],edad=int(x[2]))).collect()

In [5]:
df = sqlContext.createDataFrame(medallistas)
sqlContext.registerDataFrameAsTable(df,'medallistas')
df.registerTempTable('medallistas')

In [11]:
conteo=sqlContext.sql("Select count(medallas) as Medallas,Edad from medallistas group by edad")
conteo.show()

+--------+----+
|Medallas|Edad|
+--------+----+
|       1|  29|
|       2|  22|
|       1|  11|
|       1|  78|
|       1|  18|
|       1|  69|
|       1|  30|
|       1|  47|
|       1|  24|
+--------+----+